{
  "maximumBytesBilled": "10000000000",
  "sensitiveFieldPatterns": [
    "%first_name%", "%last_name%", "%full_name%", "%fullname%",
    "%patient_name%", "%member_name%",
    "%email%", "%phone%", "%address%",
    "%zip_code%", "%zipcode%", "%postal_code%",
    "%ssn%", "%social_security%",
    "%date_of_birth%", "%dob%", "%birth_date%",
    "%mrn%", "%medical_record%",
    "%insurance_id%", "%member_id%", "%subscriber_id%", "%npi%",
    "%password%", "%token%", "%secret%",
    "%access_key%", "%api_key%", "%credential%"
  ],
  "sensitiveFieldScanFrequencyDays": 1,
  "preventedFields": {
    "dataset_name.table_name": [
      "first_name",
      "last_name",
      "email"
    ]
  }
}
